*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #013677;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#F59728;
    font-family: 'Londrina Solid', cursive;
}

.logo{
    color: #013677;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #013677;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{  
    display: none; 
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: #013677;
    margin: 5px; 
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: -50%;
        height: 92vh;
        top: 8vh;
        background-color: #ED1850;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(0%); 
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
} 

.nav-active{
    transform: translateX(-100%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* SEARCH BAR */
form {
    width: 400px;
    margin: auto;
    /* margin-top: 250px; */
}
input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}
.search {
    width: 75%;
}
.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}




/* social icons at bottom */
/* needs to be inline and sized */
.social {
    
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-content: center;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2.5rem;

    
    text-align: center;    
} 

/* SOCIAL MEDIA ICONS */

/* .social-icons {
    text-align: center;
    }  
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
.social-icons li a {
    border-bottom: none;
    }
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
} */

#map {
    
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    z-index: -1;
}

.leaflet-gl-layer.mapboxgl-map {
    width: 100%;
}

.weather-container {
    color: white;
    margin: 0 auto;
    display: flex;
    padding-left: 60px;
    padding-top: 40px;
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

<<<<<<< HEAD
=======


>>>>>>> eda0e0041e7422bd2b1bac6ddd23d563e3e9606d
