*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #013677;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color:#F59728;
    /* Previous font: */
    /* font-family: 'Londrina Solid', cursive; */
    /* Testing out new font: */
    font-family: 'Mada', sans-serif;
}

.page-title{
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Londrina Solid', cursive;
    text-align:left;

    padding-left: 100px;
    padding-bottom: 50px;
}

.neighborhoods {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    font-family: 'Londrina Solid', cursive;
    text-align: center;

    padding-left: 100px;
    padding-bottom: 50px;
}

.logo{
    color: #013677;
    letter-spacing: 5px;
    font-size: 20px;
}

.logo a {
    text-decoration: none;
    color: #013677;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: #013677;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger{  
    display: none; 
    cursor: pointer;
}

.burger div{
    width: 25px;
    height: 5px;
    background-color: #013677;
    margin: 5px; 
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: -50%;
        height: 92vh;
        top: 8vh;
        background-color: #ED1850;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(0%); 
        transition: transform 0.5s ease-in;
        z-index: 1; /* Stay on top */
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

    



} 

.nav-active{
    transform: translateX(-100%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Burger animation: */
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

/* Search bar: */
form {
    width: 400px;
    margin: auto;
    /* margin-top: 250px; */
}
input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}
.search {
    width: 70%;
}
.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}







/* social icons at bottom */
/* needs to be inline and sized */

.social {
    
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    align-content: center;
    flex-direction: row;

    position: absolute;
    bottom: 0;
    width: 50%;
    height: 2.5rem;
    z-index: -1;
    justify-content: space-around;
    
    text-align: center;    
} 



/* SOCIAL MEDIA ICONS */

/* .social-icons {
    text-align: center;
    }  
.social-icons li {
    display:inline-block;
    list-style-type:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    }
.social-icons li a {
    border-bottom: none;
    }
.social-icons li img {
    width:70px;
    height:70px;
    margin-right: 20px;
} */



.leaflet-gl-layer.mapboxgl-map {
    width: 100%;
}

.property-card{
    height:18em;
    width:70%;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    position:relative;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    border-radius:16px;
    overflow:hidden;
    -webkit-box-shadow:  15px 15px 27px #000000, -15px -15px 27px #000000;
    box-shadow:  15px 15px 27px #000000, -15px -15px 27px #020202;
    margin: 0 auto;
    
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */
/* debug img transition on cards */

.heights-image {
    height:6em;
    width:100%;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://365thingsinhouston.com/wp-content/uploads/2019/03/best-bars-in-the-washington-avenue-arts-district-houston-nightlife-696x407.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}

.midtown-image {
    height:6em;
    width:100%;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://1-aegir0-camdenliving-com45.s3.amazonaws.com/styles/community_gallery_mobile__480px_/s3/community/camden-city-centre-ii/community-gallery/37-camden-city-centre-ii-apartments-midtown-houston-tx-walking-bars-restaurants-parks.jpg?itok=EbTIi2nO&timestamp=1503632429');
    background-size:cover;
    background-repeat:no-repeat;
}

.downtown-image {
    height:6em;
    width:100%;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://img.theculturetrip.com/450x/smart/wp-content/uploads/2018/03/2039491.jpg');
    background-size:cover;
    background-repeat:no-repeat;
}
.wbfood-image {
    height:6em;
    width:100%;
    padding:1em 2em;
    position:Absolute;
    top:0px;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image:url('https://items-static.postmates.com/uploads/media/8c0bd0ed-b049-4705-8724-f04ec53d43ee/original.jpg?v=63776514041g');
    background-size:cover;
    background-repeat:no-repeat;
}
/* Bottom Card Section */

.property-description {
    background-color: #FAFAFC;
    height:12em;
    width:100%;
    position:absolute;
    bottom:0em;
    -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
    padding: 0.5em 1em;
    text-align:center;
    font-size: large;
}
.property-card:hover .property-description {
    height:0em;
    padding:0px 1em;
}
.property-card:hover .midtown-image {
    height:18em;
}

.property-card:hover .downtown-image {
    height:18em;
}

.property-card:hover .wbfood-image {
    height:18em;
}

.property-card:hover .heights-image {
    height:18em;
}

.property-card:hover .property-social-icons {
    background-color:rgb(255, 255, 255);
}

.property-card:hover .property-social-icons:hover {
    background-color:blue;
    cursor:pointer;
}

.main-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 5fr 2.5fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:
    "header header header"
    "sidebar main aside"
    "sidebar footer footer";
}

.weather-container {
    color: white;
    margin: 0 auto;
    
    
    font-size: medium;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* #page-container {
    display: flex;
    position: relative;
    min-height: 100%;
}

#content-wrap {
    
    padding-bottom: 2.5rem;    /* Footer height */
/* } */

/* #footer {
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;   
    align-items: flex-end;         /* Footer height */
    /* z-index: -1; */
/* } */

#map {
    
    position: relative;
    height: 500px;
    width: 500px;
    margin: 0 auto;
    /* z-index: -1; */
}

/* SEARCH BAR */
form {
    width: 400px;
    margin: 0 auto;
    margin-top: 3rem;
}
input {
    padding: 4px 10px;
    border: 0;
    font-size: 16px;
}
.search {
    width: 70%;
}
.submit {
    width: 70px;
    background-color: #1c87c9;
    color: #ffffff;
}

